<div class="container">
  <form class="new-task">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" name="title" id="title" [(ngModel)]="newTask.title" />
      <mat-hint>Enter at least 1 character.</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input
        matInput
        id="deadline"
        name="deadline"
        [(ngModel)]="newTask.deadline"
        [matDatepicker]="deadlinePicker"
      />
      <mat-datepicker-toggle matIconPrefix [for]="deadlinePicker">
      </mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addTask()"
        [disabled]="!canAddTask()"
      >
        Add
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="archiveCompleted()"
        [disabled]="!canArchiveCompleted()"
      >
        Archive Completed
      </button>
    </div>
  </form>

  <div class="tasks">
    <mat-card
      [class.completed-task]="task.completed"
      *ngFor="let task of tasks"
      class="mb-20"
    >
      <mat-card-header>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="task.deadline">{{
          task.deadline | date : "yyyy-MM-dd"
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="task.completed"
          (change)="handleChange(task)"
          >Done
        </mat-checkbox>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
